//- module
.section.section-features: .inner
  .text-center: h2 此專案的目標？
  .row
    .col-md
      .text-center: i.icon.fa.fa-list
      .text-center: h6 定期更新企業集團資料
      p 建立公開資訊觀測站資料爬蟲, 可定期更新台灣集團資料。
    .col-md
      .text-center: i.icon.fa.fa-eye
      .text-center: h6 整合企業集團資料與其他方資料
      p 與綠盟透明足跡整合，結合環保署裁罰記錄，全面檢視集團總體責任。
    .col-md
      .text-center: i.icon.fa.fa-code
      .text-center: h6 開源自取且恰當授權
      p 資料來自公開資訊觀測站, 開源於零時政府源碼庫，直接分支就可以使用。

