//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-8
      .row
        .col
          label 本專案
          .item: a(href="https://g0v.hackpad.tw/mrLdO0LdB5P") 關於專案
          .item: a(href="https://grants.g0v.tw/projects/596c662fd60a0d001ed1f8ea") 原始提案
          .item: a(href="https://github.com/starsdog/companyParser.git") 源碼庫
          .item: a(href="＃") 成果
        .col
    .col-4.text-center
      img(src="img/g0v-bg-dark.svg",style="width:100px")
      div powered by g0v

