//- module
.section.bg-warning.section-what: .inner
  .text-center: h2 開放集團開源資料
  p 公開集團資料以JSON格式儲存，JSON格式內包含三個部份:
  ul
  li 集團簡介: 包含集團名稱，集團內公司數量，集團是否有裁罰記錄，集團內有裁罰記錄的公司數量，集團內於臺灣環境裁罰記錄數量 集團內於臺灣環保署裁罰金額。
  li 集團公司關係列表: 包含母公司，子公司，母公司統一編號，子公司統一編號，母公司持股比例
  li 集團內有裁罰記錄的公司列表: 包含公司名程，公司統一編號，裁罰記錄數量，裁罰總金額
  li 集團內子公司列表: 包含公司統一編號，母公司列表與持股比例
  .text-center
    .btn.btn-link.btn-lg.mr-2: a(href="https://github.com/starsdog/companyParser.git") 開源資料 #[i.fa.fa-github]
  
