//- module
.section.section-traction.bg-dark.text-light: .inner
  .text-center: h2 原始資料來源
  p 本專案分資料來自「公開資訊觀測站」數個表格與「台灣公司資料」網站，分列如下：
  ul
    li: a(href="http://mops.twse.com.tw/mops/web/t164sb02") 上市、上櫃、興櫃、公開發行XBRL格式合併財報
    li: a(href="http://mops.twse.com.tw/mops/web/stapap1") 董監事持股餘額明細資料
    li: a(href="http://mops.twse.com.tw/mops/web/t163sb05") 公司股票/公司名稱對照資料
    li: a(href="http://company.g0v.ronny.tw/") 統一編號/公司名稱對照資料