//module
.section.section-traction.bg-warning: .inner.text-center
  h2 我們的成果
  .sep(style="border-bottom:1px solid rgba(255,255,255,0.6);margin:40px auto;width:150px")
  .row
    .col 分析#[.huge 10390] 份財報與董監事資料
    .col 包含#[.huge 26648] 個台灣與海外公司
    .col 彙整#[.huge 1487] 個公開集團
    .col 整合#[.huge 71336] 筆環境裁罰記錄