//- module
.section.bg-light.section-what: .inner
  .text-center: h2 與透明足跡整合
  p 「透明足跡」是以「環境數據」為核心，建構企業環境資料庫，公開2010年至今, 企業廢氣、廢水即時監測數據，以及部分企業違規裁處事由的紀錄. 這次專案結合公開企業資料，能以企業集團整體角度，檢視集團對環境的影響與社會責任. 
  p 在「透明足跡」上, 集團列表依裁罰事由數量排序, 如輸入公司名稱, 公司統一編號或公司股票代號搜尋, 可列出包含此搜尋公司的集團列表. 進入集團頁面, 分成四個部份呈現:
  ul
  li 集團基本資料: 列出集團公司總數, 於台灣環境裁罰記錄總表(是否有裁罰記錄, 有裁罰記錄公司總數, 罰紀錄總數, 裁罰金額總數), 與集團資料github下載連結.
  li 集團關係圖: 集團公司關係視覺化.
  li 子公司搜尋: 集團公司子公司列表, 包含子公司名稱與統一編號, 並列出持有此子公司的母公司名稱與持股比例. 持股比例為"NA", 是因為該資料由「董監事持股餘額明細資料」取得, 該資料未公布持股. 
  li 裁罰記錄搜尋: 有裁罰記錄的子公司列表, 點選統一編號, 進入此公司裁罰記錄列表, 包含裁罰工廠名稱, 裁罰日期, 裁罰金額, 違反法律與公司是否對此裁罰請願.
  br
  .text-center
    .div: a(href="https://thaubing.gcaa.org.tw/group/search"): img(src="img/thaubing-logo.png",style="width:200px")
