//- module
.section.bg-light.section-what: .inner
  .text-center: h2 與透明足跡整合
  p 「透明足跡」是以「環境數據」為核心，建構企業環境資料庫，結合公開企業資料，能以企業集團整體角度，檢視集團對環境的影響與社會責任
  ul
  li: a(href="https://thaubing.gcaa.org.tw/group/search") 透明足跡 依集團查詢
