//- module
.section.section-traction.bg-danger.text-light: .inner
  .text-center: h2 資料處理與集團認定
  p 本專案分析財報中「列入合併財務報表之子公司」、「被投資公司名稱、所在地區…等相關資訊」、「轉投資大陸地區之事業相關資訊」三張表格中的「投資公司」及「被投資公司」資料，另外加入「董監事持股餘額明細資料」資料。集團採取下列三個步驟認定：
  ul
    li 整併所有財報進行分析：將所有核心公司財報整併進一張表格，全局搜索投資公司名稱是否出現在不同核心公司的被投資公司名單中，如有，則視為同一集團，但會以持股比例進行標註，大於50%，確定為同一集團，20%-50%標註為有控制能力，20%標註為投資。
    li 整併「董監事持股餘額明細資料」：部分企業集團是以核心公司上游之投資公司或基金會進行控股組成集團，本專案將上述表格再整併核心公司之「董監事持股餘額明細資料」，將指派董監事代表的法人視為投資公司（排除政府機關、投資銀行等），再進行全局搜索。
    li 人工比對「年報前十大股東相互間關係表」：將上述表格切割為獨立企業集團檔後，參考網路資料，針對有非同一集團或理應為同一集團的核心公司，由「公開資訊觀測站」下載「年報前十大股東相互間關係表」後，以人工方式進行比對，並增補資料。
  p 集團名稱由前兩個核心公司名稱組合而成，公司名稱來自「公開資訊觀測站」的公司股票/公司名稱對照資料。



