//- module
.section.bg-warning.section-what: .inner
  .text-center: h2 什麼是開放集團？
  p 企業往往由多家公司互相投資、持股，形成集團結構。本專案抓取「公開資訊觀測站」公布的2013-2016年第四季上市、上櫃、興櫃、公開發行公司（以下簡稱核心公司）XBRL格式合併財報，分析財報內容，整理出企業集團的架構關係。全部資料皆開放使用，故稱"開放集團"。
  
