//- module
.section.section-why.bg-light: .inner
  .text-center: h2 為什麼要做這個專案？
  p 台灣企業集團的影響力越來越大、結構越來越複雜，近年來台灣企業集團的規模不斷擴大，而且對於一般民眾的影響也越來越全面，例如台塑企業下面有石化、醫療、生機等企業。對許多企業社會責任議題來說，總是難以加總與釐清企業集團的總體責任。
  

